
    <div class="container full-height main-div">
    <div class="row justify-content-center align-items-center">
        <div>
            <div *ngIf="changePasswordError" class="shadow p-2 mb-3 rounded bg-danger bg-gradient">{{ changePasswordError }}</div>
            <form #registerForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off">
                <h2 class="text-center text-primary">Change password</h2>
                <hr />
                <div class="mb-3">
                    <input
                      type="password"
                      class="form-control"
                      name="oldPassword"
                      [(ngModel)]="model.oldPassword"
                      placeholder="Old password"
                      required
                      minlength="8"
                      #oldpassword="ngModel"
                    />
                    <div *ngIf="oldpassword.invalid && oldpassword.touched" class="text-danger">
                     Old password is required and must be at least 8 characters.
                    </div>
                  </div>
                  <div class="mb-3">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="model.password"
                      placeholder="Password"
                      required
                      minlength="8"
                      #newPassword="ngModel"
                    />
                    <div *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
                      New password is required and must be at least 8 characters.
                    </div>
                  </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    [(ngModel)]="model.confirmPassword"
                    placeholder="Confirm password"
                    required
                    minlength="8"
                    #confirmPassword="ngModel"
                  />
                  <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="text-danger">
                    Confirm new password must be same with new password and must be at least 8 characters.
                  </div>
                </div>
                <div class="text-center">
                  <button
                    class="btn btn-success me-2"
                    type="submit"
                    [disabled]="registerForm.invalid"
                  >
                    Change password
                  </button>
                  <button class="btn btn-danger" type="button" (click)="cancel()">
                    Cancel
                  </button>
                </div>
              </form>    
        </div>
      </div>
    </div>
