<div style="background-image: url('/assets/background1.jpg');
background-size: cover;
background-position: center;">
<app-login-navbar></app-login-navbar>

  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div>
      <div *ngIf="registerError" class="shadow p-2 mb-3 rounded bg-danger bg-gradient">{{ registerError }}</div>

      <div class="shadow p-3 mb-5 bg-body rounded main-container">
        
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
          <h2 class="text-center text-primary">Sign up</h2>
          <hr />
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="model.name"
              placeholder="Name"
              required
              #name="ngModel"
            />
            <div *ngIf="name.invalid && name.touched" class="text-danger">
              Name is required
            </div>
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              maxlength="20"
              [(ngModel)]="model.username"
              placeholder="Username"
              required
              #username="ngModel"
            />
            <div *ngIf="username.invalid && username.touched" class="text-danger">
              Username is required
            </div>
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              maxlength="40"
              [(ngModel)]="model.email"
              placeholder="Email"
              required
              #email="ngModel"
            />
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              Email is required and must be valid
            </div>
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              placeholder="Password"
              maxlength="20"
              required
              minlength="8"
              #password="ngModel"
            />
            <div *ngIf="password.invalid && password.touched" class="text-danger">
              Password is required and must be at least 8 characters
            </div>
          </div>
          <div class="mb-3">
            <input
              type="Text"
              class="form-control"
              name="city"
              maxlength="30"
              [(ngModel)]="model.address.city"
              placeholder="City"
              required
              #city="ngModel"
            />
            <div *ngIf="city.invalid && city.touched" class="text-danger">
              City is required
            </div>
          </div>
          <div class="mb-3">
            <input
              type="Text"
              class="form-control"
              name="street"
              maxlength="30"
              [(ngModel)]="model.address.street"
              placeholder="Street"
              required
              #street="ngModel"
            />
            <div *ngIf="street.invalid && street.touched" class="text-danger">
              Street is required
            </div>
          </div>
          <div class="mb-3">
            <input
              type="Number"
              class="form-control"
              name="Number"
              max="9999"
              [(ngModel)]="model.address.number"
              placeholder="Number"
              required
              #number="ngModel"
            />
            <div *ngIf="number.invalid && number.touched" class="text-danger">
              Number is required and must be less than 9999
            </div>
          </div>

 
          <label for="image">Select image to upload:</label>
          <input
            type="file"
            name="image"
            id="image"
            (change)="onFileSelected($event)"
          />
          <div class="text-center mt-2">
            <button
              class="btn btn-success me-2"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
            <button class="btn btn-danger" type="button" (click)="cancel()">
              Cancel
            </button>
          </div>
        </form>

       
      
      </div>
      <div
      class="display: flex; justify-content: flex-end float-right"
    >
      <button
        class="btn btn-primary me-2"
        routerLink="/auth/register"
      >
        Register as user
      </button>
      <button class="btn btn-primary me-2" routerLink="/auth/login">
        Login
      </button>
    </div>
      </div>  
    </div>  
    
  </div>