<div style="background-image: url('/assets/background1.jpg');
background-size: cover;
background-position: center;">
<app-login-navbar></app-login-navbar>


  <div class="container d-flex justify-content-center align-items-center vh-100" >
    <div>
      <div *ngIf="registerError" class="shadow p-2 mb-3 rounded bg-danger bg-gradient">{{ registerError }}</div>

      <div class="shadow p-3 mb-5 bg-body rounded main-container">
        
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
          <h2 class="text-center text-primary">Sign up</h2>
          <hr />          
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="model.username"
              placeholder="Username"
              required
              #username="ngModel"
              
            />
            <div *ngIf="username.invalid && username.touched" class="text-danger">
              Username is required
            </div>
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="model.email"
              placeholder="Email"
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              #email="ngModel"
            />
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              Email is required and must be valid
            </div>
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              placeholder="Password"
              required
              minlength="8"
              #password="ngModel"
            />
            <div *ngIf="password.invalid && password.touched" class="text-danger">
              Password is required and must be at least 8 characters
            </div>
          </div>
          <div class="text-center">
            <button
              class="btn btn-success me-2"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
            <button class="btn btn-danger" type="button" (click)="cancel()">
              Cancel
            </button>
          </div>
        </form>    

       
      
      </div>
      <div
      class="display: flex; justify-content: flex-end float-right"
    >
      <button
        class="btn btn-primary me-2"
        routerLink="/auth/register-theatre"
      >
        Register as organizer
      </button>
      <button class="btn btn-primary me-2" routerLink="/auth/login">
        Login
      </button>
    </div>
      </div>  
    </div>  
    </div>