<div class="container full-height main-div">
  <div class="row justify-content-center align-items-center">
      <div>
        <form [formGroup]="datetimeForm" (ngSubmit)="onSubmit()" novalidate>
          <h2 class="text-center text-primary">Add event</h2>
          <hr />
          <div class="mb-3">
            <label for="datetime-input" class="form-label">Date & Time</label>
            <input
              type="datetime-local"
              class="form-control"
              id="datetime-input"
              formControlName="datetime"
              [min]="minDateTime"
              (change)="onTimeChange($event)"
             
            />
            <div
              *ngIf="
                datetimeForm.controls['datetime'].invalid &&
                (datetimeForm.controls['datetime'].dirty ||
                  datetimeForm.controls['datetime'].touched)
              "
              class="text-danger"
            >
              <div *ngIf="datetimeForm.controls['datetime'].errors?.['required']">
                Date & Time is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="price-input" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              formControlName="price"
              placeholder="Price"
            />
            <div
              *ngIf="
                datetimeForm.controls['price'].invalid &&
                datetimeForm.controls['price'].touched
              "
              class="text-danger"
            >
              Price is required
            </div>
            
          </div>
          <div class="mb-3" *ngIf="!data">
            <label for="availableTickets-input" class="form-label">Number of tickets</label>
            <input
              type="number"
              class="form-control"
              formControlName="availableTickets"
              placeholder="Number of tickets"
            />
            <div
              *ngIf="
                datetimeForm.controls['availableTickets'].invalid &&
                datetimeForm.controls['availableTickets'].touched 
              "
              class="text-danger"
            >
            Number of tickets is required
            </div>            
          </div>
          <div class="mb-3">
            <label for="location-input" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              formControlName="location"
              placeholder="Location"
            />
            <div
              *ngIf="
                datetimeForm.controls['location'].invalid &&
                datetimeForm.controls['location'].touched
              "
              class="text-danger"
            >
            Location is required
            </div>            
          </div>
          <div class="mb-3">
            <label for="city-input" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              formControlName="city"
              placeholder="City"
            />
            <div
              *ngIf="
                datetimeForm.controls['city'].invalid &&
                datetimeForm.controls['city'].touched
              "
              class="text-danger"
            >
            City is required
            </div>            
          </div>

          <div class="mb-3">
            <label for="dropdown" class="form-label">Play</label>
            <select class="form-select" id="dropdown" formControlName="play">
              <option value="" disabled selected hidden >Select an event </option>
              <option *ngFor="let option of plays" [ngValue]="option.id">{{ option.name }}</option>
            </select>
          </div>
          
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-success me-2"
              [disabled]="datetimeForm.invalid"
            >
            {{data? 'Update':'Save'}}              
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>





  