



  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid justify-content-space-between">
      <a class="navbar-brand" href="/home">Gathered<span class="nav-brand-title">Events</span></a>
     
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/theatre/play">Plays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/theatre/schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/theatre/reservations">Reservations</a>
        </li>
       </ul>
      <div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="isLoggedIn$ | async" style="cursor:pointer">
            <a class="nav-link" mat-icon-button [matMenuTriggerFor]="userMenu">
              <mat-icon>person</mat-icon>
            </a>
          
            <mat-menu #userMenu="matMenu" class="bg-dark">
              <button mat-menu-item onclick="window.location.href = '/theatre/account'" class="nav-dropdown-button">Account</button>
              <button mat-menu-item (click)="logout()" class="nav-dropdown-button">Logout</button>
            </mat-menu>
          </li>
          <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
            <a class="nav-link" href="auth/Login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
 