<mat-dialog-content>
<div class="card h-100 container ">
    
    <h1 class="card-title text-center">{{ currentEvent.play.name }}</h1>
    <div class="card-img-wrapper d-flex justify-content-center align-items-center">
      <img [src]="getImageUrl(currentEvent.play)" class="card-img card-img-top image-scale img-card" alt="...">
    </div>
    <div class="card-body">
      
      <p class="card-text">
        <fa-icon [icon]="faCalendar" style="margin-right:0.5em;"></fa-icon><strong>{{ getDate(currentEvent.datetime) }} 
          <strong>{{ getTime(currentEvent.datetime) }}</strong></strong>
      </p>
      <p class="card-text">
        <strong>{{ currentEvent.theatreName }}</strong>
      </p>
      <p class="card-text">
        <strong>{{ currentEvent.play.type.name }}</strong>
     </p>
      <p class="card-text">
        Available Seats: <strong>{{ currentEvent.availableTickets }}</strong>
      </p>     
      
      <p class="card-text">
        Price: <strong>{{ currentEvent.price }}</strong> $
      </p>
      <p class="card-text">
        <strong> Description:</strong> {{ currentEvent.play.description }}
      </p>
    

        

      



    
    </div>
    <form class="row d-flex justify-content-center mt-3 mb-3"
        [formGroup]="buyForm"
        (ngSubmit)="openConfirmation(currentEvent)"
        autocomplete="off">
      
      <div class="number-input col-md-4" *ngIf="isLoggedIn$ | async" >
        <button type="button" (click)="decrementQuantity()"></button>
        <input class="quantity" min="1" name="quantity" value="1" max="10" type="number" [defaultValue]="1" formControlName="quantity"/>
        <button type="button" (click)="incrementQuantity()" class="plus"></button>
      </div>

        
        
        
        
        <div class="col-md-4">
          <button class="btn btn-secondary" *ngIf="(isLoggedIn$ | async) && currentEvent.availableTickets>0"  
            type="submit"
            class="btn btn-success me-2"
          >
            Reserve ticket(s)
          </button>
          <button class="btn btn-danger" *ngIf="!(isLoggedIn$ | async)" disabled >Login for making reservation</button>
          <button class="btn btn-danger" *ngIf="(isLoggedIn$ | async) && currentEvent.availableTickets<=0"  disabled >No tickets available</button>
          
        </div>
      </form>
  </div>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  </mat-dialog-actions>

