  
  .img-card {
    max-width:100%;
    height: 200px;
    object-fit:fill;

 }

 .main-container{
   margin-top: 3em;
 }
 .add-div{
  margin-top:25px;
 }
 button{
  margin-right: 2px;
 }