
<app-client-navbar></app-client-navbar>
<div class="container main-container">
  <div class="row">
    <div class="col-sm-4 mb-5" *ngFor="let item of events 
    | paginate :{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count
    }; let i = index">
      <div class="card h-100">
        <div class="card-img-wrapper d-flex justify-content-center align-items-center">
          <img [src]="getImageUrl(item.play)" class="card-img card-img-top image-scale img-card" alt="...">
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ item.play.name }}</h2>
          <p class="card-text">
            theatre: <strong>{{ item.theatreName }}</strong>
          </p>
          <p class="card-text">
            Available Seats: <strong>{{ item.availableSeats }}</strong>
          </p>
          <p class="card-text">
            Date: <strong>{{ item.datetime }}</strong>
          </p>
          <button class="btn btn-primary" *ngIf="isLoggedIn$ | async">Buy ticket</button>
          <button class="btn btn-danger" *ngIf="!(isLoggedIn$ | async)" disabled >Login for buying tickets
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>