
<app-client-navbar></app-client-navbar>
<div class="text-center mt-3">
  <h2>{{events.length}} Results found</h2>
</div>

<div class="row justify-content-center" >
  <div class="col-md-5 border rounded border-dark p-4">
  <form class="form-inline" [formGroup]="filterForm" (ngSubmit)="getFilteredEvents()" autocomplete="off">
    <div class="row">
      <div class="col-md-3">
        <div class="mb-3">
          <select formControlName="city" name="city" class="form-control">
            <option value="">City</option>
            <option *ngFor="let city of cities$ | async" [ngValue]="city">{{ city }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="name" placeholder="Name" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          <input type="number" class="form-control" formControlName="priceFrom" placeholder="0" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          <input type="number" class="form-control" formControlName="priceTo" placeholder="999" />
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-secondary me-2" type="submit">Search</button>
        <a class="btn btn-secondary" href="home/events" type="button">Reset filters</a>
      </div>
    </div>
  </form>
  </div>
  </div>



<div class="container main-container">
  <div class="row">
    <div class="col-sm-4 mb-5" *ngFor="let item of events 
    | paginate :{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count
    }; let i = index">
      <div class="card h-100">
        <div class="card-img-wrapper d-flex justify-content-center align-items-center">
          <img [src]="getImageUrl(item.play)" class="card-img card-img-top image-scale img-card" alt="...">
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ item.play.name }}</h2>
          <p class="card-text">
            theatre: <strong>{{ item.theatreName }}</strong>
          </p>
          <p class="card-text">
            Available Seats: <strong>{{ item.availableSeats }}</strong>
          </p>
          <p class="card-text">
            Date: <strong>{{ item.datetime }}</strong>
          </p>
          <p class="card-text">
            Price: <strong>{{ item.price }}</strong>
          </p>
          <button class="btn btn-secondary" *ngIf="isLoggedIn$ | async">Buy ticket</button>
          <button class="btn btn-danger" *ngIf="!(isLoggedIn$ | async)" disabled >Login for buying tickets
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>