<div class="fullscreen">
  <app-theatre-navbar></app-theatre-navbar>
  <div
    class="container d-flex justify-content-center align-items-center vh-100" 
  >
    <div >
      <div
        class="shadow p-3 mb-5 bg-body rounded main-container account-container" 
      >
        <h2 class="text-center text-primary">Account details</h2>
        <hr />
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row mb-5">
              
            </div>
            
            <div class="form-group row mb-5">
              <label for="username" class="col-sm-4 col-form-label"
                >Username:</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row mb-5">
              <label for="email" class="col-sm-4 col-form-label">Email:</label>
              <div class="col-sm-8">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row mb-5">
              <label for="name" class="col-sm-4 col-form-label"
                >Number of events:</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="events"
                  readonly
                  id="events"
                />
              </div>
            </div>
            <div class="form-group row ">
              <label for="name" class="col-sm-4 col-form-label"
                >Number of events scheduled:</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  name="eventsScheduled"
                  readonly
                  id="eventsScheduled"
                />
              </div>
            
              <form class="mb-5 border" #changeNameForm="ngForm" (ngSubmit)="changeName()" autocomplete="off" style="margin-top: 2em;">
                <div class="d-flex align-items-center mt-3" >
                  <label class="col-sm-1" for="name">Name:</label>
                  <div class="flex-fill">
                    <input class="col-sm-4 " type="text" class="form-control" name="name" [(ngModel)]="model.name" id="name" maxlength="15" minlength="5" required #name="ngModel">
                  </div>
  
                  <div>
                    
                  </div>
                </div>
                <div *ngIf="name.invalid && name.touched" class="text-danger">
                  New name is required and must be at least 5 characters.
                </div>
                <div class="col-sm-7 mt-3 d-flex align-items-center">
                  <button class="btn btn-success" type="submit" [disabled]="changeNameForm.invalid">Change name</button>
                </div>
              </form>

              <div class="row justify-content-md-center">
                <button
                  class="btn btn-outline-primary col-sm-5"
                  (click)="openChangePasswordDialog()"
                >
                  Change password
                </button>
              </div>
            </div>            
          </div>

          <div class="card-img-wrapper col-sm-6">
            <div class="row justify-content-md-center">
              <img
                name="image"
                id="image"
                class="card-img card-img-top image-scale img-card"
                alt="..."
              />
            </div>
            <div class="row justify-content-md-center">
              <div class="col col-lg-6">
                <button
                  class="btn btn-outline-primary"
                  (click)="openChangePictureDialog()"
                >
                  Change picture
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
