<app-client-navbar></app-client-navbar>
<div class="container">
    <h1 class="text-center">Categories</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Category 1</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex justify-content-center">
                <div class="card-body">
                    <h5 class="card-title">Category 2</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Category 3</h5>
                </div>
            </div>
        </div>
        <!-- Add more category cards here -->
    </div>
</div>